<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>works</title>
</head>
<body>

<div id="content">
         
<header>

<div class="h_img">

    </div>
    
    <div class="h_nav">
    
    <a href="/" class="utsumi">内海 信彦</a>
 <ul>
     <li><a href="/">TOP</a></li>
     <li><a href="/blog">BLOG</a></li>
     <li><a href="/biography">BIOGRAPHY</a></li> 
     <li><a href="/works">EXHIBITION ・ LIVE PAINTS</li>
     <li><a href="/activities">ACTIVITIES</li>

 </ul>
    </div>
 
</header>

<div class="container"></div>

</div>

</body>
</html>