<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <title>内海　信彦</title>
</head>
<body>

  <div id="content">

    <div id="fold">
         
<header>

 <div class="h_img">

    </div>

    
    <div class="h_nav">
    
    <a href="/" class="utsumi">内海 信彦</a>
 <ul>
     <li><a href="/">TOP</a></li>
     <li><a href="/blog">BLOG</a></li>
     <li><a href="/biography">BIOGRAPHY</a></li> 
     <li><a href="/works">EXHIBITION ・ LIVE PAINTS</a></li>
     <li><a href="/activities">ACTIVITIES</a></li>

 </ul>
    </div>
 
 
</header>

<div class="container">
    
<div class="topic">
    <p class="t_tit">NEWS</p>

    <% @posts.each do |post| %>
    <div class="archive">
         <div class="ar_dis">
         
           <p class="ar_title"><%= post.title %></p>
           <p class="ar_con"><%= post.content %></p>

         </div>
    </div>
    <% end %>
    
    </div>
    <div class="minipro">
        <div class="mini_kao"></div>
                <div class="mini_tit">
                    <p class="mini_name">内海 信彦</p>
                    <p class="mini_eng">Nobuhiko Utsumi</p>
                </div>
                
                <div class="mini_bio">
                    <p class="mini_katagaki">
                        -Visual artist<br>
-Guest Artist at Harvard University<br>
-Guest Artist at Yale University<br>
-Professor Emeritus at the National Fine Arts School in Peru<br>
-Guest Professor at the National University of Education in Peru<br>
-Invited Researcher at Waseda University Organization for Japan-US Studies<br>
-The President of "Utsumi, Nobuhiko's Dropout School" at Waseda University<br>
                    </p>
                    
                    <p class="mini_jp">
                      ペルー国立美術学校名誉教授・ハーヴァード大学客員芸術家・イェール大学客員芸術家・早稲田大学日米研究機構招聘研究員。国内外で30年に渡り個展80回開催。1985年以来、一貫して宇宙、生命、人間社会をテーマとする"Innerscape Series" を制作、発表を続けるとともに、芸術の教育的実践として世界各地でワークショップを開く。
                    </p>
                </div>

    </div>
    
</div>

    </div>
  </div>
</div>

</body>
</html>
