<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>内海　信彦</title>
</head>
<body>

<div id="content">
         
<header>


    
    <div class="h_nav">
    
    <a href="/" class="utsumi">内海 信彦</a>
 <ul>
     <li><a href="/">TOP</a></li>
     <li><a href="/blog">BLOG</a></li>
     <li><a href="/biography">BIOGRAPHY</a></li> 
     <li><a href="/works">EXHIBITION ・ LIVE PAINTS</a></li>
     <li><a href="/activities">ACTIVITIES</a></li>

 </ul>
    </div>
 <div class="h_img">

    </div>
 
 
</header>

<div class="container">
    
<div class="topic">
    <p class="t_tit">TOPICS</p>
    
    <div class="archive">
        <div class="ar_im">
        </div>
         <div class="ar_dis">
         
         <p class="ar_title"></p>
         <p class="ar_con">日本の極右も同じように、「武漢ウイルス」だの、「武漢ウイルス研究所起源説」だのとトランプが煽り立てるデマゴギーによるインフォデミックを感染拡大させています。<br>

反安倍を称する一部のレイシストたちも、極右と一緒に「武漢ウイルス」だの、「武漢ウイルス研究所」だのと、反中嫌中の大合唱に加担しています。<br>

一見もっともらしい言説を連ねるリベラル左派の一部も、反中嫌中キャンペーンに取り込まれて、よりにによって、トランプ、そして安倍晋三と全く同じ、排他的排外主義に転化してしまいました。<br>

合州国のレイシストと変わらない、恥を知らない排他的排外主義者は、改憲や緊急事態条項などに至る前から、現代の転向者の仲間入りを果たしたのです。</p>
        </div>
    </div>
    
    </div>
    
</div>

</div>

</body>
</html>