<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>form_of_utumix</title>
</head>
<body>

<style>

@font-face {
  font-family: "myFont";
  src: url("assets/css/serif.woff") format('woff');
}

@font-face {
  font-family: "myFont1";
  src: url("assets/css/serif_bold.woff") format('woff');
}

@font-face {
  font-family: "myFont2";
  src: url("assets/css/sans.woff") format('woff');
}

@font-face {
  font-family: "myFont3";
  src: url("assets/css/sans_bold.woff") format('woff');
}


*{
 margin: 0;
 padding: 0;
}

body{
  background-color: #9e9e9e;
}

#content{
  width: 100vw;
  overflow: scrool;
  background-color: #9e9e9e; 
  display: grid;
  grid-template-columns: 12.5vw 75vw 12.5vw;
}

.insert{
  width: 100%;
  grid-column: 2;
  background-color: #9e9e9e;
  margin-top: 8vh
}

input, textarea{
  width: calc(100% - 8px);
  display: flex;
  border: none;
      height: calc(100% - 8px);
      overflow: scroll;
      background-color: #9e9e9e;
}

.texting{
 height: 78%;
 overflow: scroll;
 width: 100%;
       box-shadow: rgb(255, 255, 255) -2px -2px inset, rgb(10, 10, 10) 2px 2px inset, grey 4px 4px inset;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 2%;
}

.ed_texting{
 height: 78%;
 overflow: scroll;
 width: 100%;
       box-shadow: rgb(255, 255, 255) -2px -2px inset, rgb(10, 10, 10) 2px 2px inset, grey 4px 4px inset;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
align-items: center;
      margin-bottom: 2%;

}

.ed_texting textarea, .texting textarea{
      background-color: #9e9e9e;

}


.midashi{
  height: 8%;
  width: 100%;
        box-shadow: rgb(255, 255, 255) -2px -2px inset, rgb(10, 10, 10) 2px 2px inset, grey 4px 4px inset;
        background-color: #9e9e9e;  
        margin-bottom: 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

}

.postbut{
  height: 8%;
  width: 100%;
      box-shadow: rgb(10, 10, 10) -2px -2px inset, rgb(255, 255, 255) 2px 2px inset, grey -4px -4px inset;
      background-color: #9e9e9e;
      cursor: pointer;
      margin-bottom: 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

}

.postbutd{
  height: 100%;
  width: 100%;
      box-shadow: rgb(10, 10, 10) -2px -2px inset, rgb(255, 255, 255) 2px 2px inset, grey -4px -4px inset;
      background-color: #9e9e9e;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;


}

.postbutd:focus, .postbut:focus{
  box-shadow: rgb(255, 255, 255) -2px -2px inset, rgb(10, 10, 10) 2px 2px inset, grey 4px 4px inset;
    outline: none;

}

textarea:focus, input:focus{
 outline: none;

}

.sinki{
  margin-bottom: 16vh;
      background-color: #9e9e9e;
 display: flex;
 flex-wrap: wrap;
 height: 60vh;
 justify-content: center;


}

.editing{
 height: 120vh;
      background-color: #9e9e9e;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}

.ed_form{
 height: 60vh;
 margin-bottom: 4vh;
 margin-top: 4vh;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 background-color: #9e9e9e;
}

.edi{
  height: 96%;
  width: 100%;
  margin-bottom: 3%;
}

.del{
  height: 8%;
  width: 100%;
}

.sin{
 width: 100%;
 height: 100%;
}

</style>

<div id="content">
         

  <div class="insert">

    <p style="font-family: myFont3; font-size: 48px;">新規投稿</p>

<div class="sinki">
  <form class="sin" action="/post" autconmplete="off" method="post">
    <div class="midashi">
      <input type="text" placeholder="記事タイトル" name="title">
    </div>
    <div class="texting">
      <textarea rows="100" cols="80" name="content">ここに内容を入力</textarea>
    </div>
    <div class="postbut">
    <input  type="submit" value="投稿！">
    </div>
  </form>
</div>

    <p style="font-family: myFont3; font-size: 48px;">編集</p>


  <div class="editing">
    <% @posts.each do |post| %>
      <div class="ed_form">
    <form class="edi" action="/post/<%= post.id %>" autconmplete="off" method="post">
    <input class="midashi" type="text" value="<%= CGI.escapeHTML(post.title) %>" name="title">
    <div class="ed_texting">
      <textarea rows="100" cols="80" name="content"><%= CGI.escapeHTML(post.content) %></textarea>
   
    </div>
    <div class="postbut">
 <input type="submit" value="再投稿">
    </div>

    </form>
    <form class="del" action="/post/<%= post.id %>/delete" autconmplete="off" method="post">
      <div class="postbutd">
        <input type="submit" value="削除">
      </div>
  </form>
      </div>
<% end %>

  </div>

</div>

</div>

</body>
</html>
