*{
    margin: 0;
    padding: 0;
}

html {

 font-size: 1.25vw;
    background-color: #000;
    color: #fff;
}

p{
    line-height: 200%;
}

*::-webkit-scrollbar{
    display: none!important;
}

li{
    list-style-type: none;
    display: initial;
}

a, li{
    color: inherit;
    border: none;
    text-decoration: none;
}

button {
    border: inherit;
    font-family: inherit;
    font-size: inherit;
}


@font-face {
  font-family: "myFont";
  src: url("serif.woff") format('woff');
}

@font-face {
  font-family: "myFont1";
  src: url("serif_bold.woff") format('woff');
}

@font-face {
  font-family: "myFont2";
  src: url("sans.woff") format('woff');
}

@font-face {
  font-family: "myFont3";
  src: url("sans_bold.woff") format('woff');
}

body{
  font-family: "myFont";
}

/*
○全体*/

#content{
    display: grid;
    width: 100vw;
    grid-template-columns: auto 1280px auto;
    height: calc(100vh * 4);
    background-color: #000;
}

#fold{
  width: 100%;
  grid-column: 2;
  height: 100%;
  display: grid;
  grid-template-columns: 8% auto 8%;
  grid-template-rows: 100vh auto;
}

header{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 3% 7% auto 3%;
    margin-bottom: 8px;
    grid-row: 1;
    grid-column: 2;
    line-height: 0;
    background-color: #000;
}

.h_img{
        display: grid;
    grid-row: 3;
    height: 100%;
    background-image: url(/assets/素材/1286250940.jpg);
    background-position: center;
    background-size: cover;
}

.h_nav{
        display: grid;
    grid-template-columns: 25% 75%;
    grid-row: 2;
    height: 100%;
    width: 100%;
}

.h_nav ul{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.h_nav ul li{
    margin-left: 5%;
}

.h_nav ul li a{
line-height: 18px;
      font-family: "myFont1";
    box-sizing: border-box;
    font-size: 16px;

}

.h_nav ul li a:hover{
box-shadow: inset -1px -1px 0 0px;
    box-sizing: border-box;
}

.h_nav .utsumi{
    grid-column: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
      font-family: "myFont1";
   font-size: 48px;
    height: 100%;
    line-height: 50px;
}

.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-column: 2;

        grid-template-columns: 73% 2% 25%;
    height: 100%;
    grid-template-rows: 25% 25% 25% 25%; 
    grid-row: 2;
    /* margin-top: -40vh; */
    background-color: #000;
}

.topic{
    grid-row: 1;
        grid-column: 1;
    height: 100%;

}

.topic .t_tit{
    grid-column: 2;
    height: auto;
    margin-bottom: 0;
       font-family: "myFont1";
    border-bottom: 1px #fff solid;
    height: auto;
    margin-bottom: 8px;
       font-size: 48px;
 
    line-height: 48px;
}

.archive{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-column: 2;
    height: 85%;
}

.ar_dis{
    grid-column: 1;
        font-family: "myFont2";
}

.ar_title{
 font-size: 48px;
}

.ar_con{
 font-size: 16px;
}

.minipro{
    grid-column: 3;
    width: 100%;
}

.mini_kao{
    width: 80%;
    height: auto;
        height: 0;
    padding-bottom: 80%;
    display: block;

    background-color: #fff;
    background-image: url(/assets/素材/1448204060.png);
    background-size: cover;
}

.mini_tit{
    margin-top: 16px;
}

.mini_tit .mini_name{
    font-family: "myFont1";
    font-size: 16px;
    line-height: 16px;
}

.mini_tit .mini_eng{
    font-family: "myFont1";
    font-size: 16px;
    line-height: 16px;
}

.mini_bio{
    width: 100%;
    font-size: 12px;
    margin-top: 16px;
    font-family: "myFont2";

}

.mini_bio .mini_jp{
    margin-top: 12px;
}

/*
○WORKS*/

.w_container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 18% 2% 80%;
    grid-row: 3;
    grid-column: 2;
}

.w_select{
    display: grid;
    grid-template-rows: 44% 8% 8% 8% 8% 8% 8% 8%;
}

.w_select li {
    display: flex;
    align-items: center;
    font-family: "Myfont1";
    cursor: pointer;
    font-size: 1.8vw;
}

.w_select li button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    text-align: left;
}

.w_select li button:focus{
    
    outline: none;
}

.w_select li button:hover{
    box-shadow: inset #fff 0px 0px 0px 1px;
}

.w_1980s{
    grid-column: 3;
    width: 100%;
    height: calc(100% - 1vh);
 display: grid;
    grid-template-rows:49% 51%;
       grid-template-columns:40% auto;
    grid-column-gap: 1vh;
  grid-row-gap: 1vh;
}
.w_1995s{
    grid-column: 3;
    width: 100%;
    height: calc(100% - 1vh);
 display: none;
    grid-template-rows:49% 51%;
       grid-template-columns:40% auto;
    grid-column-gap: 1vh;
  grid-row-gap: 1vh;
}
.w_2000s{
    grid-column: 3;
    width: 100%;
    height: calc(100% - 1vh);
 display: none;
    grid-template-rows:49% 51%;
       grid-template-columns:40% auto;
    grid-column-gap: 1vh;
  grid-row-gap: 1vh;
}


.w_works_1{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/_1990977_orig.jpg);
    background-size: cover;
}.w_works_2{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/9585795_orig.jpg);
     background-size: cover;
}.w_works_3{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/2525736_orig.jpg);
     background-size: cover;
}.w_works_4{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/4504882_orig.jpg);
     background-size: cover;
}

.w_paints_1{
    width: 100%;
    height: 100%;
    background-color: #fff;

    background-size: cover;
}.w_paints_2{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/9585795_orig.jpg);
     background-size: cover;
}.w_paints_3{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/2525736_orig.jpg);
     background-size: cover;
}.w_paints_4{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/4504882_orig.jpg);
     background-size: cover;
}

.w_acting_1{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/_1990977_orig.jpg);
    background-size: cover;
}.w_acting_2{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/9585795_orig.jpg);
     background-size: cover;
}.w_acting_3{
    width: 100%;
    height: 100%;
    background-color: #fff;

     background-size: cover;
}.w_acting_4{
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(/assets/素材/4504882_orig.jpg);
     background-size: cover;
}

